In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
ent_df = pd.read_csv(r"C:\Users\Adaml\Downloads\dft-road-casualty-statistics-casualty-1979-2020.csv")
ent_df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,197901A11AD14,1979,01A11AD14,2,1,1,1,-1,-1,3,0,0,0,0,-1,104,-1,-1
1,197901A1BAW34,1979,01A1BAW34,1,1,3,2,27,6,3,10,5,0,0,-1,0,-1,-1
2,197901A1BFD77,1979,01A1BFD77,1,1,1,1,21,5,3,0,0,0,0,-1,109,-1,-1
3,197901A1BFD77,1979,01A1BFD77,1,2,2,1,20,4,3,0,0,1,0,-1,109,-1,-1
4,197901A1BFD77,1979,01A1BFD77,2,3,1,1,35,6,3,0,0,0,0,-1,109,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11449307,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
11449308,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
11449309,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
11449310,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
11449311,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

In [16]:
acc_df = pd.read_csv(r"C:\Users\Adaml\Downloads\dft-road-casualty-statistics-accident-1979-2020.csv")
acc_df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,15,16,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,197901A11AD14,1979,01A11AD14,NaN,NaN,NaN,NaN,1,3,2,...,-1,1,8,1,-1,0,-1,-1,-1,-1
1,197901A1BAW34,1979,01A1BAW34,198460.0,894000.0,NaN,NaN,1,3,1,...,-1,4,8,3,-1,0,-1,-1,-1,-1
2,197901A1BFD77,1979,01A1BFD77,406380.0,307000.0,NaN,NaN,1,3,2,...,-1,4,8,3,-1,0,-1,-1,-1,-1
3,197901A1BGC20,1979,01A1BGC20,281680.0,440000.0,NaN,NaN,1,3,2,...,-1,4,8,3,-1,0,-1,-1,-1,-1
4,197901A1BGF95,1979,01A1BGF95,153960.0,795000.0,NaN,NaN,1,2,2,...,-1,4,3,3,-1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602819,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
8602820,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
8602821,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
8602822,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
8602823,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

In [18]:
up_cas_df = ent_df.loc[(ent_df['accident_year'] >= 2005) & (ent_df['accident_year'] <= 2011)]
up_acc_df = acc_df.loc[(acc_df['accident_year'] >= 2005) & (acc_df['accident_year'] <= 2011)]

In [25]:
want_cas = up_cas_df[["accident_index", "accident_year", "age_of_casualty", "casualty_severity"]]
want_acc = up_acc_df[["accident_index", "longitude", "latitude"]]
fin_df = want_cas.merge(want_acc, on="accident_index")
fin_df.to_csv('FinalDataset.csv')

fin_df

,accident_index,accident_year,age_of_casualty,casualty_severity,longitude,latitude
0,200501BS00001,2005,37,2,-0.191170,51.489096
1,200501BS00002,2005,37,3,-0.211708,51.520075
2,200501BS00003,2005,62,3,-0.206458,51.525301
3,200501BS00004,2005,30,3,-0.173862,51.482442
4,200501BS00005,2005,49,3,-0.156618,51.495752
...,...,...,...,...,...,...
1642845,2011984146011,2011,56,3,-3.514288,55.366895
1642846,2011984146411,2011,75,3,-3.307730,55.141194
1642847,2011984147811,2011,22,3,-3.329010,55.059182
1642848,2011984147811,2011,20,3,-3.329010,55.059182
1642849,2011984147811,2011,21,3,-3.329010,55.059182